<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.phonepe.app" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="upi" />
        </intent>
    </queries>
    <application
        android:name=".main.MovieApplication"
        android:allowBackup="false"
        android:icon="@drawable/hai_event_logo"
        android:roundIcon="@drawable/hai_event_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="HAI">   <!-- 👈 app name -->
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> <!-- Deep link for PhonePe callback (replace with your actual scheme/host) -->
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment"
                    android:scheme="haievent" /> <!-- Use your app's deep link scheme -->
            </intent-filter>
        </activity>
    </application>
</manifest>